build/*
.cache/*
.clangd/*
obj-x86_64-linux-gnu/*
debian/.debhelper/*
debian/nepdate-cli/*
debian/usr/*
debian/debhelper-build-stamp
debian/files
debian/nepdate-cli.substvars
debian/nepdate-cli.debhelper.log
target/*
