#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# Use the `dh` helper for most tasks
%:
	dh $@

# Override the `dh_auto_configure` step to call cmake with the /usr/local prefix
override_dh_auto_configure:
	dh_auto_configure -- \
		
		-DCMAKE_BUILD_TYPE=Release

# Override the `dh_auto_build` step to use a separate build directory
override_dh_auto_build:
	dh_auto_build
	# Create a build directory and build
	mkdir -p build
	cd build && cmake .. && make

# Override the `dh_auto_install` step to install the built files to /usr/local
override_dh_auto_install:
	dh_auto_install
	# Install from the build directory
	cd build && make install DESTDIR=$(CURDIR)/debian

# Clean target to remove the build directory
clean:
	dh clean
	rm -rf build
